<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Results</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div class="overlay"></div>
    <div class="main-board">
        <div class="title">
            <h1>Changemaker Lab Student Results</h1>
        </div>
        <div class="result">
            <div class="team"><a href="teamA.ejs">Team Collabornation</a></div>
            <div class="team"><a href="teamB.ejs">Team Coalition for Community Change</a></div>
            <div class="team"><a href="teamC.ejs">Team Community Kinetics</a></div>
            <div class="team"><a href="teamD.ejs">Team Partners in Presencing</a></div>
        </div>
    </div>

    <footer>@2023-2024 The Evergreen State College</footer>

</body>
</html>


