<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team D</title>
    <link rel="stylesheet" href="/teamD.css">
</head>
<body>
    <div class="D">
        <h2>Team Partners in Presencing</h2>
        <% for (let result of D_studentResults) { %>
                <h3><%= result['studentName'] %> - </h3>
                <h3><%= result['url'] %></h3>
                <% if (!result['missingParts']) { %>
                    <p>All tasks completed! ✅</p>
                <% } else { %>
                    <p>Missing parts: <%= result['missingParts'] %> ❌</p>
                <% } %>
        <% } %>        
    </div>
</body>
</html>