* {

    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url(forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.main-board {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
    width: 950px;
    height: 500px;
    margin: 0px auto;
    border-radius: 20px;
    border: solid 3px white;
    backdrop-filter: blur(30px);
}



.result {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.title {
    margin-bottom: 40px;
    color: white;
    font-size: 28px;
}

.team {
    border: 1px solid #000;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    transition: background-color 1s ease;
    background-color: white;
    border-style: none;
}

.team:hover {
    background-color: rgb(178, 238, 175);
}

a {
    text-decoration: none;
    color: black;
}

footer {
    color: white;
    max-width: 350px;
    margin: 0px auto;
}

