* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(5, 43, 5);
}

ul {
    color: rgb(0, 0, 0);
    list-style: none;
}

h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 55px;
}

.D {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

.minor {
    border: 1px solid black;
    padding: 25px;
    border-radius: 15px;
    background-color: white;
    color: purple;
    font-size: 20px;
}

.each {
    margin-bottom: 10px;
}